<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>{{title}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Nom" [(ngModel)]="name" placeholder="Nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Type" [(ngModel)]="type" placeholder="Type"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input labelPlacement="stacked" label="Tel" [(ngModel)]="tel" placeholder="Tel"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input labelPlacement="stacked" label="Email" [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item>
  </ion-content>