<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sushi Master Stock
    </ion-title>
    <ion-button slot="end" [routerLink]="'/order/'">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      <ion-badge slot="start">{{getOrdersNb()}}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Sushi Master Stock
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-supplier *ngFor="let supplier of items$ | async" [supplier]="supplier"></app-supplier>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>